---
layout: default
title: Hackfest | National Cybersecurity Competition
---
<!-- About -->
<section class="content-section" id="about">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>Hackfest is a Capture The Flag (CTF) competition</h2>
        <p class="lead mb-5">
          Hackfest is an annual cybersecurity event initally hosted by the Higher School of Communication (SUP'COM).
          Since 2015, it has brought together cybersecurity experts, businesses, and students under one roof. After huge
          success in previous editions, Hackfest is back for its 7th edition this year at Technopark El Gazala. This
          year is noteworthy since Hackfest will be contested in two stages: qualifiers on June 10th and finals on June
          23rd.
        </p>
      </div>
    </div>


    <div class="info-content">
      <p>The CTF consists of two phases: a qualification round and a final round. During the qualification round,
        contestants will compete individually to win a slot for the final round. Only 80 contestants will qualify for
        the finals. The final round is a multi-team hacking challenge in which teams compete independently to win prizes
        <br>
        The National Cybersecurity CTF Competition is meant for both beginners and experienced contestants, and it
        consists of tasks ranging from simple to extremely difficult in various categories:
      </p>

      <div class="row categories-row">
        <div class="col-lg-4">

          <span class="category">
            <i class="fa fa-unlock-alt"></i>
            <h4 class="">Cryptography</h4>
          </span>


          In this category, you'll attack poorly implemented crypto, outdated crypto, or use well-known vulnerabilities
          to attack encrypted messages. You might be given for example a few RSA keys whose modulus share a factor, and
          you decrypt a message encrypted by one of these keys
        </div>
        <div class="col-lg-4">


          <span class="category"><i class="fa fa-bug"></i>
            <h4 class="category">Binary Exploitation</h4>
          </span>

          The program you received is running as a service on a remote machine. Reverse-engineer it, figure out its
          vulnerability, and use that to take exploit the remote service into serving you a flag. Often, there's a
          flag.txt you can get the program to read, or perhaps it has a flag in memory you need to get it to
          accidentally send you.
        </div>
        <div class="col-lg-4">
          <span class="category">
            <i class="fa fa-globe"></i>
            <h4 class="category">Web Exploitation</h4>
          </span>

          These challenges involve attacking common vulnerabilities in web technology. For example, you might need to
          use SQL injection to read the "secret_flag" table of a database, use directory traversal to get a web server
          to serve you "flag.txt", use Cross-Site Scripting to trick a simulated user to send you their password, or
          bypass some client-side checks implemented by obfuscated javascript
        </div>
      </div>
      <div class="row categories-row">
        <div class="col-lg-4">
          <span class="category">
            <i class="fa fa-cog"></i>
            <h4 class="category">Reverse Engineering</h4>
          </span>
          In this category You'll receive a program, but not the source, so you need to disassemble it, look at the
          assembly, and figure out what it does. Programs can be x86 Windows, x86 Linux, ARM Linux, obfuscated Java, and
          a whole bevy of more obscure formats
        </div>
        <div class="col-lg-4">
          <span class="category">
            <i class="fa fa-search"></i>
            <h4 class="category">Forensics</h4>
          </span>
          This is a fairly broad category. You might receive an image of a disk in FAT format, and you'll need to
          un-delete "flag.txt". Maybe you receive a zip file, that contains a 7z file, that contains a tar archive, that
          contains some obscure file format you've never heard of, and unpacking the entire chain eventually gives you a
          flag.
        </div>
        <div class="col-lg-4">
          <span class="category">
            <i class="fa fa-tablet"></i>
            <h4 class="category">IoT</h4>
          </span>
          These challenges involve attacking Embedded/IoT devices. You might receive an Arduino board, and you'll need
          to dump and analyse a firmware. Maybe you receive a binary program, that contains memory management
          vulnerability, exploiting the entire flow gives you a priviliged access to read files.
        </div>

        <div class="lg-col-2"></div>
        <!--div class="col-lg-4">
            <div class="category-icon" style="background-color: lightseagreen;"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></div>
            <h4 class="category">Hardware</h4>
            Explore your computer at a lower level by creating and hacking hardware, from transistors all the way
            to entire processors.  Design, simplify, and exploit circuits to retrieve the flag!
        </div-->
      </div>
      If you have any questions, please feel free to contact Maro at maroueneboubakri[]gmail[]com !
      <br />
      <br />
    </div>
    <a href="https://ctf.hackfest.tn" class="btn btn-xl btn-dark mr-4">Join the challenge</a>
  </div>
</section>

<!-- Who -->
<section class="content-section" id="host">
  <div class="container text-center">
    <div class="content-section-heading">
      <h3 class="mb-0">Hosts</h3>
      <h2 class="mx-auto mb-5">The 2k23 Hosts</h2>
    </div>
    <p>
      We are pleased to announce that <a href="http://www.supcom.mincom.tn/Fr/accueil_46_3">SUP'COM</a> will be hosting
      Hackfest'7. As part of our commitment to ensuring the success of this event, we have entrusted the financial
      management to ADSUP.
      They will be responsible for overseeing the budget, managing expenses, and ensuring that the event stays within
      its financial parameters.
    </p>
    <div class="row">
      <div class="item col">
        <div class="thumbnail">
          <div class="caption card-body">
            <h4 class="group card-title inner list-group-item-heading">
              SUP'COM</h4>
            <p class="group inner list-group-item-text text-justify">
              Higher School of Communication of Tunis or Engineering School of Communication of Tunis, founded in 1998,
              is the main school of educating engineers in telecommunications in Tunisia.
              It is affiliated to the University of Carthage and occupies the advanced ranks in the competitive
              examination for the access to the engineering studies.
              As a school of national elites, Sup’Com evenly benefits from the tutelage of both, the Ministry of Higher
              Education and Scientific Research and the Ministry of Information and Communication Technology.
              Member of the Réseau Méditerranéen des Ecoles d'Ingénieurs (Mediterranean engineering schools’ network),
              Sup’Com was admitted since December 2008 as an associated member in the Conférence des Grandes Écoles
              (CGE), it is furthermore the first foreign school to be associated internationally with the Institut
              Mines-Télécom.
            </p>
          </div>
        </div>
      </div>
      <div class="item col">
        <div class="thumbnail">
          <div class="caption card-body">
            <h4 class="group card-title inner list-group-item-heading">
              ADSUP</h4>
            <p class="group inner list-group-item-text text-justify">
              created on 11/01/2011 following an initiative by a group of Sup'Com alumni. AdSup aims to bring together
              and maintain contact between graduates of Sup'Com.
              The association has set the following objectives:
            <ul class="text-justify">
              <li>Encourage professional and friendly relationships among Sup'Com graduates.</li>
              <li>Facilitate the integration, improvement, and career advancement of its members in professional life.
              </li>
              <li>Promote the image of Sup'Com and its degrees.</li>
              <li>Promote information and communication technologies (ICT).</li>
              <li>Strengthen cooperation with organizations with similar objectives and working in the field of ICTs.
              </li>
              <ul>
                </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- How to participate -->
<section class="content-section bg-primary text-white text-center" id="participate">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">What to bring, how to compete...</h3>
      <h2 class="mb-5">How to participate</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-people"></i>
        </span>
        <h4>
          <strong>Team</strong>
        </h4>
        <p class="text-faded mb-0">Team size is limited to <b>4</b>
          <i class="fas fa-heart"></i>
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-screen-desktop"></i>
        </span>
        <h4>
          <strong>Laptop</strong>
        </h4>
        <p class="text-faded mb-0">Bring your own laptop! We also recommend you come with a smartphone and multi-sockets
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-game-controller"></i>
        </span>
        <h4>
          <strong>Software</strong>
        </h4>
        <p class="text-faded mb-0">Bring your favorite software (disassemblers, development tools, hexadecimal viewers,
          virtual machines, kali etc)</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-feed"></i>
        </span>
        <h4>
          <strong>Wifi</strong>
        </h4>
        <p class="text-faded mb-0">Challenges will be accessible via <b>wifi</b>. Make sure you can access wifi on your
          laptop.</p>
      </div>
    </div>
    <br>
    <br>
    <a href="/rules/" class="btn btn-xl btn-light mr-4">See Details</a>
  </div>
</section>

<!-- Schedule -->
<section class="content-section text-center" id="schedule">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="mb-0">Schedule</h3>
      <h2 class="mx-auto mb-5">The 2k23 program</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="event-list">
          {% for event in site.data.events.hackfest7 %}
          <li>
            <time datetime="{{ event.year }}-{{ event.day }}-{{ event.month }}">
              <span class="day">{{ event.day }}</span>
              <span class="month">{{ event.month }}</span>
              <span class="year">{{ event.year }}</span>
              <span class="time">{{ event.time }}</span>
            </time>
            <img class="event-img" alt="{{ event.title }}" src="/images/ctf/{{ event.img }}" />
            <div class="info">
              <h2 class="title">{{ event.title }}</h2>
              <p class="desc">{{ event.description }}</p>
              <ul>
                <li style="width:50%;"><a href="{{ event.link }}"><span class="fas fa-map-marker-alt"></span> {{
                    event.location }}</a></li>
                <li style="width:50%;"><span class="fab fa-money"></span> {{ event.fee }}</li>
              </ul>
            </div>
            <div class="social">
              <ul>
                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fab fa-facebook"></span></a>
                </li>
                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fab fa-twitter"></span></a></li>
                <li class="linkedin" style="width:33%;"><a href="#linkedin"><span class="fab fa-linkedin"></span></a>
                </li>
              </ul>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</section>

<!-- Sponsors -->
<section class="content-section bg-primary text-white text-center" id="sponsors">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Sponsorship</h3>
      <h2 class="mx-auto mb-5">The 2k23 sponsors</h2>
    </div>
  </div>
  <div class="container text-center">
    <p>
      Hackfest is supported by a range of sponsors, including both local and international companies. It typically takes
      place over a weekend and attracts a diverse range of participants, from students and recent graduates to
      experienced professionals in the Cybersecurity field.
    </p>
    <p>
      Be a part of the excitement at Hakfest 2023 by becoming a sponsor! Take a look at <a
        href="https://heyzine.com/flip-book/597487bf55.html">our sponsorship file</a> to learn more about the amazing
      opportunities available to you. Then, reach out to us at ctfhackfest (at) gmail (dot) com to get started. Let's
      make this year's hacking festival the best one yet!
    </p>
    <div class="container bg-white sponsors">
      <div class="row">
        <div class="col-md-3">
          <div class="sponsor-logo">
            <img src="/images/sponsors/MMB IT Consulting.png" class="img-fluid" alt="MMB IT Consulting">
          </div>
        </div>

        <div class="col-md-3">
          <div class="sponsor-logo">
            <img src="/images/sponsors/sifaris.jpg" class="img-fluid" alt="Sifaris">
          </div>
        </div>

        <div class="col-md-3">
          <div class="sponsor-logo">
            <img src="/images/sponsors/cytekia.png" class="img-fluid" alt="Cytekia">
          </div>
        </div>

        <div class="col-md-3">
          <div class="sponsor-logo">
            <img src="/images/sponsors/atb.png" class="img-fluid" alt="ATB">
          </div>
        </div>

        <div class="col-md-3">
          <div class="sponsor-logo">
            <img src="/images/sponsors/supcom.png" class="img-fluid" alt="SUPCOM">
          </div>
        </div>

        <div class="col-md-3">
          <div class="sponsor-logo">
            <img src="/images/sponsors/trustable.png" class="img-fluid" alt="Trustable">
          </div>
        </div>

        <div class="col-md-3">
          <div class="sponsor-logo">
            <img src="/images/sponsors/adsup.jpg" class="img-fluid" alt="Association des Diplomés de Sup'Com Tunis">
          </div>
        </div>

      </div>
    </div>
    <br />
    <a href="/sponsors/" class="btn btn-xl btn-light mr-4">Past sponsors</a>
  </div>
</section>

<!-- Who -->
<section class="content-section" id="who">
  <div class="container text-center">
    <h2 class="mb-4">Organizing committee</h2>
    <div class="row">
      {% for member in site.data.core_team.hackfest7 %}
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="/images/people/{{ member.img }}" alt="" />
            <ul class="social">
              <li><a target="_blank" href="{{ member.facebook }}"><i class="fab fa-facebook"></i></a></li>
              <li><a target="_blank" href="{{ member.twitter }}"><i class="fab fa-twitter"></i></a></li>
              <li><a target="_blank" href="{{ member.linkedin }}"><i class="fab fa-linkedin"></i></a></li>
              <li><a target="_blank" href="{{ member.github }}"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">{{ member.name }}</h3>
            <small class="post">{{ member.position }}</small>
          </div>
          <div class="team-layer">
            <a href="#">{{ member.name }}</a>
            <span class="post">{{ member.position }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<!-- Portfolio -->
<section class="content-section" id="portfolio">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Portfolio</h3>
      <h2 class="mb-5">Previous editions</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>2021</h2>
              <p class="mb-0">The sixth edition of Hackfest!</p>
            </span>
          </span>
          <img class="img-fluid" src="/images/hackfest-2021.jpg" alt="Hackfest 2021 archive">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>2018</h2>
              <p class="mb-0">The fifth edition of Hackfest</p>
            </span>
          </span>
          <img class="img-fluid" src="/images/hackfest-2018.jpg" alt="Hackfest 2018 archive">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>2017</h2>
              <p class="mb-0">The fourth edition of Hackfest</p>
            </span>
          </span>
          <img class="img-fluid" src="/images/hackfest-2017.jpg" alt="Hackfest 2017 archive" height="100px">
        </a>
      </div>

      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>2016</h2>
              <p class="mb-0">The third edition of Hackfest</p>
            </span>
          </span>
          <img class="img-fluid" src="/images/hackfest-2016.jpg" alt="Hackfest 2016 archive" height="100px">
        </a>
      </div>

      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>2015</h2>
              <p class="mb-0">The first edition of Hackfest</p>
            </span>
          </span>
          <img class="img-fluid" src="/images/hackfest-2015.jpg" alt="Hackfest 2015 archve" height="100px">
        </a>
      </div>

    </div>
  </div>
</section>


<!-- Call to Action -->
<!--
<section class="content-section bg-primary text-white">
    <div class="container text-center">
        <h2 class="mb-4">The buttons below are impossible to resist...</h2>
        <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
        <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
</section>
-->

<!-- Map -->
<section id="map" class="map">
  <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    src="https://www.openstreetmap.org/export/embed.html?bbox=10.186302959918978%2C36.89134268487277%2C10.188126862049105%2C36.892462452639656&amp;layer=mapnik"
    style="border: 1px solid black"></iframe><br /><small>
    <br>
    <div class="container text-center">
      <small>
        <a href="https://www.openstreetmap.org/#map=19/36.89190/10.18721">View Larger Map</a></small>
  </small>
  </div>


</section>

<!-- Venue -->
<section class="content-section bg-primary text-white text-center" id="directions">
  <div class="container">
    <div class="content-section-heading">
      <h2 class="mb-5">Directions</h2>
      The event is located on the <strong>ElGazala Technopark</strong>
      <br>
      GPS: latitude: 36.8924933, longitude: 10.1871238
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-directions"></i>
        </span>
        <h4> <strong>Car</strong> </h4>
        <p class="text-faded mb-0"><b>A1</b> highway: <b>Exit from RN8, Take Av. Fethi Zouhir</b>. Keep right to
          continue toward Av. Fethi Zouhir, At the roundabout, take the 1st exit. <b>Recommend parking: </b> Parking in
          front of the conference space.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-plane"></i>
        </span>
        <h4> <strong>Airport</strong> </h4>
        <p class="text-faded mb-0">From Airport Carthage Tunis: Upon exiting the airport, you will find a taxi stand
          where you can hire a licensed taxi. Inform the taxi driver that you would like to go to El Ghazala Technopark.
          The taxi driver will take the most direct route to the technopark, which is usually via the A1 highway.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-briefcase"></i>
        </span>
        <h4> <strong>Tramway</strong> </h4>
        <p class="text-faded mb-0">Take the Tram line 2 towards Ariana. Get off the TGM at <strong>"10
            Décembre"</strong> station. Take a local bus (bus number <strong>27A</strong>) that goes to El Ghazala
          Technopark.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-rocket"></i>
        </span>
        <h4> <strong>Bus</strong> </h4>
        <p class="text-faded mb-0">To go from Tunis to El Ghazala Technopark using public transportation, you can take
          the public bus number 527 from Jean-Jaurès in Tunis or bus number 27A from Ariana.
        </p>
      </div>
    </div>
  </div>
</section>