<footer class="bg-dark text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row my-4">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <div
          class="rounded-circle bg-dark shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
          style="width: 150px; height: 150px;">
          <img src="/images/logo-white.png" height="170" alt="" />
        </div>

        <p class="text-center">National Cyber Security Competition</p>

        <ul class="list-unstyled d-flex flex-row justify-content-center">
          <li>
            <a class="text-white px-2" href="https://www.facebook.com/hackfestctf">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a class="text-white px-2" href="https://www.instagram.com/hackfesttn/">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a class="text-white px-2" href="https://github.com/hackfesttn">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li>
            <a class="text-white px-2" href="https://twitter.com/hackfestctf">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a class="text-white ps-2" href="https://www.youtube.com/@hackfest9032">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Videos</h5>

        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="https://fb.watch/pHlgZbDpRl/" class="text-white"><i class="fas fa-play pe-3"></i> Teaser
              2023</a>
          </li>
          <li class="mb-2">
            <a href="https://www.youtube.com/watch?v=WQKOEWv8ioo" class="text-white"><i class="fas fa-play pe-3"></i>
              Teaser 2021</a>
          </li>
          <li class="mb-2">
            <a href="https://www.youtube.com/watch?v=IY32nNwUOd0" class="text-white"><i class="fas fa-play pe-3"></i>
              Teaser 2020</a>
          </li>
          <li class="mb-2">
            <a href="https://www.youtube.com/watch?v=Bd9_--ZidKQ" class="text-white"><i class="fas fa-play pe-3"></i>
              Teaser 2018</a>
          </li>
          <li class="mb-2">
            <a href="https://www.youtube.com/watch?v=LEb93QijRWs" class="text-white"><i class="fas fa-play pe-3"></i>
              Teaser 2017</a>
          </li>
          <li class="mb-2">
            <a href="https://www.youtube.com/watch?v=Q-mM3UVXdK4" class="text-white"><i class="fas fa-play pe-3"></i>
              Teaser 2016</a>
          </li>
          <li class="mb-2">
            <a href="https://www.youtube.com/watch?v=iGb0wm622Rw" class="text-white"><i class="fas fa-play pe-3"></i>
              Teaser 2015</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Quick Links</h5>

        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="http://www.supcom.mincom.tn/" class="text-white"><i class="fas fa-link pe-3"></i> SUP'COM</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <p><i class="fas fa-map-marker-alt pe-2"></i> ElGazala Technopark, Tunisia</p>
          </li>
          <li>
            <p><i class="fas fa-phone pe-2"></i> +216 99 283 600</p>
          </li>
          <li>
            <p><i class="fas fa-envelope pe-2 mb-0"></i> contact@hackfest.tn</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-white" href="/">hackfest.tn</a>
  </div>
  <!-- Copyright -->
</footer>