<header class="masthead d-flex">

  <div class="container text-center masthead-content">
    <div class="p-3  bg-danger text-white">
      Mark your calendars! Hackfest 2024 is scheduled for April 20th, 2024, at Elghazela Technopark. Stay tuned!
    </div>

    <h1 class="text-white mb-1" style="font-family: 'DotGothic16', sans-serif; ">Hackfest</h1>
    <h3 class="text-white mb-5">
      <!-- text-lightdark -->
      <em style="font-style: normal;">National Cybersecurity Competition</em>
    </h3>
    <div class="p-1 mt-1">
      <button class="btn btn-dark btn-md js-scroll-trigger " type="button" onclick="window.location.href='#about'">Find
        Out More</button>
    </div>
    <div class="p-1 mt-1">
      <noscript><a href="https://www.eventbrite.com/e/hackfest-tickets-662466915377" rel="noopener noreferrer"
          target="_blank">Get Your Free Ticket on Eventbrite</a></noscript>
      <button id="eventbrite-widget-modal-trigger-662466915377" type="button"
        class="btn btn-dark btn-md w-10">Register</button>
    </div>
  </div>

  <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

  <script type="text/javascript">
    var exampleCallback = function () {
      console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
      widgetType: 'checkout',
      eventId: '662466915377',
      modal: true,
      modalTriggerElementId: 'eventbrite-widget-modal-trigger-662466915377',
      onOrderComplete: exampleCallback
    });
  </script>


  </div>
  <div class="overlay"></div>
</header>