<nav class="navbar navbar-expand-lg navbar-hf">
 <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#fff; font-size:28px;"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% assign navigation = site.data.navigation["page"] %}
            {% for nav in navigation %}
                <li class="nav-item{% if nav.children != null %} dropdown{% endif %}">
                    {% if nav.url %}
                        <a class="nav-link{% if nav.children != null %} dropdown-toggle{% endif %}" href="{{ nav.url | relative_url }}" {% if nav.children != null %}id="navbarDropdown{{ forloop.index }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>
                            {{ nav.title }}
                            {% if nav.children != null %}
                                <span class="caret"></span>
                            {% endif %}
                        </a>
                    {% else %}
                        <span class="nav-link{% if nav.children != null %} dropdown-toggle{% endif %}" {% if nav.children != null %}id="navbarDropdown{{ forloop.index }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>
                            {{ nav.title }}
                            {% if nav.children != null %}
                                <span class="caret"></span>
                            {% endif %}
                        </span>
                    {% endif %}

                    {% if nav.children != null %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ forloop.index }}">
                        {% for child in nav.children %}
                            <a class="dropdown-item" href="{{ child.url | relative_url }}"{% if child.url == page.url %} class="active"{% endif %}>{{ child.title }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</nav>
